li[role="option"] {
    height: 30px;
    border-bottom: 1px solid #e0e0e0;
    border-radius: 0;
}

div[data-slot="content"] {
    padding: 1rem;
}

/* mobile */
@media (max-width: 768px) {
    li[role="option"] {
        height: 50px;
    }
}
